.navbar {
    background-color: #333;
    display: flex;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}